<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
<style>
    .navbar {
        gap: 24px;
    }
    
    .navbar__bottom>a:hover {
        background-color: #ddd;
    }
</style>

<header>
    <nav class="navbar">
        <!-- 탑 네비게이션 START -->
        <div class="d-flex align-items-center w-100 justify-content-between">
            <a href="/" class="d-flex">
                <img th:src="@{/lib/assets/logo2.png}" alt="Logo" style="max-height: 31px; width: auto;">
            </a>
            <div class="navbar__search">
                <th:block th:replace="~{common/fragments/components/searchbar :: SearchBar}"></th:block>
            </div>
            <div class="navbar__links">
                <a th:href="@{/auth/login}" class="link-dark">로그인</a>
                <a th:href="@{/auth/register}" class="link-dark">회원가입</a>
                <a href="#" class="link-dark">장바구니</a>
                <a th:href="@{/auth/logout}" class="link-dark">로그아웃</a>
            </div>
        </div>
        <!-- 탑 네비게이션 END -->

        <!-- 바텀 네비게이션 START -->
        <div class="navbar__bottom d-flex align-items-center w-100 justify-content-between">
            <a href="#" class="flex-grow-1 p-3 text-center dropdown-toggle" role="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">카테고리</a>
            <a href="#" class="flex-grow-1 p-3 text-center">베스트상품</a>
            <a href="#" class="flex-grow-1 p-3 text-center">신상품</a>
            <a href="#" class="flex-grow-1 p-3 text-center">이벤트</a>
        </div>
        <div class="collapse w-100" id="navbarToggleExternalContent" data-bs-theme="light">
            <div class="p-4">
                <h5 class="text-body-emphasis h4">Collapsed content</h5>
                <span class="text-body-secondary">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <!-- 바텀 네비게이션 END -->

    </nav>
</header>

</html>