<!DOCTYPE html>
<!-- layout:decorate 레이아웃 참조  -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout/defaultLayout}" >

<th:block th:fragment="PageHead">
    <title>안녕하세요</title>
    <!-- inline js -->
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", e => {
            console.log("페이지 로드 완료 gg");
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- inline css -->
    <style th:inline="css" type="text/css">
        body {
            margin: 30px;
            border: 1px solid red;
        }
    </style>

</th:block>

<th:block layout:fragment="Content">
    <div>
        <h1>Content 영역입니다.ㅇㅇ</h1>
    </div>
</th:block>


</html>