<!DOCTYPE html>
<!-- layout:decorate 레이아웃 참조  -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout/defaultLayout}">

<!-- 헤더 START -->
<th:block th:fragment="PageHead">
    <title>eBookie : 로그인</title>
    <link rel="stylesheet" th:href="@{/lib/css/auth.css}">
</th:block>
<!-- 헤더 END -->

<!-- 메인 START -->
<th:block layout:fragment="Content">
    <!-- HTML START -->
    <div class="login__container border border-dark rounded p-5">
        <h2>로그인</h2>
        <form id="auth-form" class="d-flex flex-column mt-2" style="gap: 16px;">
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control border border-dark rounded" id="email" aria-describedby="emailHelp" required>
                <!-- TODO:  -->
                <!-- <small id="emailHelp" class="form-text text-muted"></small> -->
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control border border-dark rounded" id="password" required>
            </div>
            <!-- TODO: 로그인 오류 시 여기 써야함 -->
            <button type="submit" class="btn btn-outline-dark mt-2">로그인</button>
        </form>
        <hr>
        <div class="login__container--oauth d-flex" style="gap: 8px;">
            <th:block th:replace="~{common/fragments/components/googleBtn :: GoogleOAuthBtn}"></th:block>
        </div>
    </div>
    <!-- HTML END -->

    <!-- 자바스크립트 START -->
    <script>
        const form = document.querySelector("#auth-form");
        console.log(form);
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const email = document.querySelector("#email").value;
            const password = document.querySelector("#password").value;
            const formData = {
                email,
                password,
            };

            const res = await fetch("/auth/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            });

            console.log(res);
            const data = await res.json();
            // TODO: 
            // data.accessToken contains jwt token
            console.log(data);
        })
    </script>
    <!-- 자바스크립트 END -->
</th:block>
<!-- 메인 END -->   

</html>