<!DOCTYPE html>
<!-- layout:decorate 레이아웃 참조  -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/layout/defaultLayout}">

<!-- 헤더 START -->
<th:block th:fragment="PageHead">
    <title>eBookie : 회원가입</title>
    <link rel="stylesheet" th:href="@{/lib/css/auth.css}">
</th:block>
<!-- 헤더 END -->

<th:block layout:fragment="Content">
    <div class="login__container border border-dark rounded p-5">
        <h1 class="text-center">회원가입</h1>
        <form id="auth-form" class="d-flex flex-column mt-2" style="gap: 16px;">
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control border border-dark rounded" id="email" aria-describedby="emailHelp" required>
                <!-- TODO: 이메일 중복 시 여기 써야함 -->
                <!-- <small id="emailHelp" class="form-text text-muted"></small> -->
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control border border-dark rounded" id="password" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">비밀번호 확인</label>
                <input type="password" class="form-control border border-dark rounded" id="confirmPassword" required>
            </div>
            <!-- TODO: 로그인 오류 시 여기 써야함 -->
            <!-- <small id="emailHelp" class="form-text text-muted"></small> -->
            <button type="submit" class="btn btn-outline-dark mt-2">로그인</button>
        </form>
        <hr>
        <div class="login__container--oauth d-flex" style="gap: 8px;">
            <!-- <button class="oauth__google flex-grow-1 btn btn-outline-dark">Google</button> -->
             <th:block th:replace="~{common/fragments/components/googleBtn :: GoogleOAuthBtn}"></th:block>
        </div>
    </div>

    <!-- inline js -->
    <script>
        const form = document.querySelector("#auth-form");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const email = document.querySelector("#email").value;
            const password = document.querySelector("#password").value;
            const confirmPassword = document.querySelector("#confirmPassword").value;
            const formData = {
                email,
                password,
                confirmPassword
            };

            const res = await fetch("/auth/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            });
            console.log(res);
            const data = await res.json();
            console.log(data);
        })
    </script>
</th:block>


</html>